# Titanic problem of Kaggle

### Import datasets and all necessary modules.

In [1]:
import numpy as np
import pandas as pd
training_data = pd.read_csv("train.csv")
testing_data = pd.read_csv("test.csv")
training_data.describe()
#Observe the total count of all the columns. 
#Although describe method ony return numerical data,but clearly count of Age is less than the others
#so it has somme missing values.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### Selection of predictors columns.

In [3]:
predictors = ['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
initial_X_train = training_data[predictors]
initial_X_test = testing_data[predictors]
y_train = training_data.Survived
#initial_X_train and initial_X_test only represent values before imputation.

### Preprocessing of data, fill-up 'nan' values.

In [4]:
from sklearn.preprocessing import Imputer
my_inputer = Imputer()
X_train = my_inputer.fit_transform(initial_X_train)
X_test = my_inputer.fit_transform(initial_X_test)
#X_train and X_test represent final cleaned data.

### Import and train the classifier.

In [47]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 10) #So a very low value of K might lead to overfitting of data.
                                            #Usually 10 is assumed to be a better value, but we saw that on 5 score
                                            #was better .
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=2,
           weights='uniform')

## Perform a train-test split, and then check accuracy of the model.

In [48]:

from sklearn.model_selection import train_test_split
temp_train_X, temp_test_X, temp_train_y, temp_test_y = train_test_split(X_train, y_train, random_state=0)
accuracy = knn.score(temp_test_X, temp_test_y)
print(accuracy)



#temp_train_X, temp_test_X, temp_train_y, temp_test_y-------------------> They only represent train test split
#results, later used to check accuracy.
#accuracy is increased from before , when we increased feature columns.

0.7219730941704036

### Make predictions on the basis of test data.

In [14]:
predictions = knn.predict(X_test)
len(predictions)

418

### Convert to csv file for sinal submission.

In [15]:
submit_df = pd.DataFrame({'PassengerId' : initial_X_test.PassengerId, 'Survived' : predictions})
submit_df
submit_df.to_csv("gender_submission.csv" ,encoding='utf-8', index = False)